<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["PETRO_BOT.styles.css"]" />
    <link href="app/app.css" rel="stylesheet" />
    <ImportMap />
    <HeadOutlet />
</head>

<body class="text-slate-800 antialiased overflow-x-hidden">

    <Routes @rendermode="InteractiveServer"/>
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="/js/menu/menu.js"></script>
</body>

</html>
