<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["PETRO_BOT.styles.css"]" />
    <link href="app/app.css" rel="stylesheet" />
    <ImportMap />
    <HeadOutlet />
</head>

<body class="bg-[#f5f6fa] text-slate-800 antialiased overflow-x-hidden">

    <Routes @rendermode="InteractiveServer"/>
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="/js/menu/menu.js"></script>
</body>

</html>
